@import "tailwindcss";

:root {
  --font-inter: 'Inter', Helvetica, sans-serif;
  --font-albert-sans: 'Albert Sans', Helvetica, sans-serif;
}
@theme {


  /* Aliases for easier use */
  --color-primary: #073C64;
  --color-secondary: #fdcb2c;
  --color-primary-bg: #083d62;
  --color-secondary-bg: #1a2c43;

  --font-inter: "Inter", Helvetica, sans-serif;
  --font-albert-sans: "Albert Sans", Helvetica, sans-serif;

  --spacing-18: 4.5rem;          
  --spacing-22: 5.5rem;           

  --index-60: 60;
  --index-70: 70;

  --breakpoint-xs: 475px;
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  height: 100%;
  font-family: var(--font-albert-sans);
}

button:focus-visible {
  @apply outline-2 outline-blue-500 outline-offset-2;
}

a {
  @apply no-underline;
}

@layer utilities {
  .font-inter {
    font-family: var(--font-inter);
  }

  .font-albert-sans {
    font-family: var(--font-albert-sans);
  }
  
  .text-brand-lg {
    font-size: 18px;
    line-height: 27px;
  }
  
  .text-brand-base {
    font-size: 16px;
    line-height: 24px;
  }
  
  .text-brand-sm {
    font-size: 14px;
    line-height: 20px;
  }

  .text-brand-xs {
    font-size: 12px;
    line-height: 16px;
  }
}